.quotes-container {
    font-size: 14px;
    margin-top: 10px;
}

.clock-container {
    text-align: center;
    margin-top: 20%;
}

#clock {
    font-size: 4vw;
}

li {
    list-style-type: square;
    list-style-position: inside;
}

#weather-city {
    display: inline-block;
    margin-bottom: 2%;
}

.weather-container table {
    width: 100%;
    color: white;
    font-size: 15px;
}

.weather-container td, th {
    text-align: center;
}

#head-border {
    color: white;
}

#todo-title {
    display: inline-block;
    margin-bottom: 2%;
}

#todo-items {
    font-size: 13px;
    text-indent: 1em;
}

#news-feed-container {
    font-size: 14px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
}

#news-feed-list {
    padding-left: 0;
}

.news-feed-item {
    list-style-type: none;
    float: left;
}

#calendar-container {
    font-size: 14px;
}

#calendar-list {
    padding-left: 0;
    font-size: 13px;
}

.calendar-item {
    text-indent: 1em;
}

.qr-screen {
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    list-style-type: circle;
}

#qrcode-container {
    float: left;
    width: 40%;
}

#qrcode-description {
    text-align: center;
    color: white;
    font-size: 3.7vw;
}

#qrcode-image {
    background: white;
}

.qr-screen #qr-time-container {
    display: table;
    margin: 0 auto;
    margin-right: 22%;
    font-size: 7vw;
}

.faceIdMessage {
    color: white;
    text-align: center;
    font-size: 1.5vw;
}
