@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: black;
  color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  align-items: start;
  height: 100%;
  width: 100%;
  display: inline-block;
  float: left;
  color: rgba(255, 255, 255, 1);

}

.container:after {
  display: table;
}

.upper-row {
  position:fixed;
  top: 0;
  height: 25%;
  width: 100%;
  margin-top: 5%;
  margin-right: 4%;
  margin-left: 3%;
}

.lower-row {
  position: fixed;
  bottom: -1%;
  height: 20%;
  width: 100%;
  margin-bottom: 0;
  margin-right: 4%;
  margin-left: 2%;

}

#widget {
  padding: 0%;
  height: 80%;
  width: 23%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  float: left;
}
